<interkk-header></interkk-header>

<section class="travel__agency">

  <video autoplay muted loop id="myVideo">
    <source src="./assets/images/travel.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>





  <div class="text-animate">
    <span typingAnimation [typeSpeed]="50" [condition]="start" [startDelay]="2000">
      <pre>Intrekk Travel Agency</pre> is a full-service travel agency, specializing in providing customized and
      comprehensive travel solutions to its clients
    </span>
  </div>
</section>

<section class="aboutUs">
  <h2>Who we are</h2>
  <div>
    <!-- <div><img src="./assets/images/whoweare.jpg" alt=""></div> -->
    <div>
      <span>Intrekk Travel Agency is a full-service travel agency, specializing in providing customized and
        comprehensive
        travel solutions to its clients. With years of experience in the travel industry, the team at Intrekk Travel
        Agency
        is committed to making every trip a memorable and enjoyable experience.</span>
      <span style="display: block;">The agency offers a wide range of travel services, including airfare booking, hotel
        reservation, car rental, and
        travel insurance. In addition to these basic services, Intrekk Travel Agency also provides added value services
        to
        its clients to enhance their travel experience. Some of these services include
      </span>
    </div>
  </div>


</section>

<section>
  <div class="core_service--section">
    <div class="core_service--banner">
      <img src="./assets/images/tourism.jpg" class="banner-image" alt="">
    </div>
    <div class="core_service--cards">
      <h2>Our core services</h2>
      <div class="serivce">
        <div>
          <img src="./assets/images/itenary.svg" alt="">
        </div>
        <div>
          <h3>Destination Planning and Itinerary Creation</h3>
          <span>The agency's travel experts can help clients plan their trips, providing suggestions for destinations,
            itineraries, and activities. The team will work with clients to create a personalized travel plan that meets
            their specific needs and interests.</span>
        </div>
      </div>
      <div class="serivce">
        <div>
          <img src="./assets/images/sightseeing.svg" alt="">
        </div>
        <div>
          <h3>Local Experiences</h3>
          <span>Intrekk Travel Agency is dedicated to helping its clients have unique and authentic experiences when
            they travel. To this end, the agency offers a range of local experiences, including cultural tours, food
            tours, and adventure activities, that allow clients to immerse themselves in the local culture and see a
            different side of the destination.</span>
        </div>
      </div>
      <div class="serivce">
        <div>
          <img src="./assets/images/tour.svg" alt="">
        </div>
        <div>
          <h3>Tour Packages</h3>
          <span>Intrekk Travel Agency offers a variety of tour packages to popular destinations around the world.
            These packages include airfare, hotel accommodation, transportation, and guided tours, making it easy for
            clients to plan their trips and enjoy their travels</span>
        </div>
      </div>
      <div class="serivce">
        <div>
          <img src="./assets/images/trans.svg" alt="">
        </div>
        <div>
          <h3>Private Transportation</h3>
          <span>The agency provides private transportation services to its clients, including airport transfers, private
            car rentals, and chauffeured services. This allows clients to travel in comfort and style, without having to
            worry about navigating unfamiliar roads or finding public transportation.</span>
        </div>
      </div>
      <div class="serivce">
        <div>
          <img src="./assets/images/24sup.svg" alt="">
        </div>
        <div>
          <h3>24/7 Support</h3>
          <span>The agency's travel experts are available 24/7 to answer questions, provide assistance, and resolve any
            issues that may arise during a client's trip. This gives clients peace of mind knowing that they can rely on
            the agency for support at any time, day or night.</span>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="travel__footer">
  <interkk-footer></interkk-footer>
</div>
