<interkk-header></interkk-header>
<section class="cash_collection">

  <video autoplay muted loop id="myVideo">
    <source src="./assets/images/AI/AI.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>

  <div class="text-animate">
    <span typingAnimation [typeSpeed]="50" [condition]="start" [startDelay]="2000">
      <pre>Intrekk Sarl</pre> is a leading provider of mobile money (Momo) cash collection services
      in the Cameroon market.
    </span>
  </div>
</section>

<section class="aboutUs">
  <h2>Who we are</h2>
  <div>
    <span>InTrekk Sarl is a leading provider of mobile money (Momo) cash collection services in the Cameroon market.
      We specialize in providing businesses and organizations with a fast, convenient, and secure way to collect
      payments from their customers via mobile money.</span>
    <span style="display: block; margin-top: 1.25rem;">Our services include integrating mobile money payment systems
      into businesses' existing point-of-sale terminals, online platforms, and mobile applications. This allows
      customers to make payments easily and securely using their mobile money accounts. We also provide businesses
      with a web-based dashboard, which allows them to view transaction history, track payments and manage their
      mobile money account.</span>
  </div>

</section>

<section>
  <div class="core_service--section">
    <div class="core_service--banner">
      <img src="./assets/images/AI/ai_banner.jpg" class="banner-image" alt="">
    </div>
    <div class="core_service--cards">
      <h2>Our core services</h2>
      <div class="serivce">
        <div>
          <img src="./assets/images/AI/money_collection.svg" alt="">
        </div>
        <div>
          <h3>Convenient collection points</h3>
          <span>Customers can collect their funds at a network of agents located in communities across Cameroon, making
            it easy and convenient for them to access their funds.</span>
        </div>
      </div>
      <div class="serivce">
        <div>
          <img src="./assets/images/AI/secure.svg" alt="">
        </div>
        <div>
          <h3>Fast and secure transactions</h3>
          <span>The Cash Collection Service uses advanced security measures to ensure the safety of customer funds and
            transactions.</span>
        </div>
      </div>
      <div class="serivce">
        <div>
          <img src="./assets/images/AI/transaction.svg" alt="">
        </div>
        <div>
          <h3>Low transaction fees</h3>
          <span>Customers can collect their funds at competitive prices, without incurring high transaction fees.</span>
        </div>
      </div>
      <div class="serivce">
        <div>
          <img src="./assets/images/AI/payment.svg" alt="">
        </div>
        <div>
          <h3>Multiple payment options</h3>
          <span>The service supports a range of payment options, including mobile money, bank transfers, and cash
            payments.</span>
        </div>
      </div>
      <div class="serivce">
        <div>
          <img src="./assets/images/AI/tracking.svg" alt="">
        </div>
        <div>
          <h3>Easy tracking and reporting</h3>
          <span>Customers can track their transactions and view their account history through the service's online
            portal </span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="benefits">
  <div class="benefits__flex">

    <div>
      <img src="./assets/images/AI/benefits.svg" alt="">
    </div>
    <div>
      <h2>Who Can Benefit From Cash Management Solutions?</h2>
      <span>The Cash Collection Service is designed for a wide range of customers, including individuals, businesses,
        and
        government agencies. It is particularly suitable for customers who need to collect and manage their funds in a
        fast,
        secure, and accessible way, including:</span>
      <ul style="padding-left: 1.5rem;">
        <li>Small business owners who need to collect payments from their customers</li>
        <li>Individuals who receive regular payments from government agencies, such as pensions and social security
          benefits
        </li>
        <li>Companies and organizations that need to disburse funds to their employees or contractors</li>
      </ul>
      <span>We have built strong partnerships with major mobile money providers in Cameroon, which allows us to offer
        competitive exchange rates and fast, secure transactions. We also have a dedicated customer service team
        available to assist with any queries or issues.
      </span>
      <span style="display: block; margin-top: 1.25rem;">
        Our solutions are designed to meet the needs of a wide range of businesses, including retail, e-commerce,
        healthcare, and education. We have helped businesses to improve their cash flow, increase their customer base
        and reduce the costs associated with traditional payment methods.
      </span>
    </div>
  </div>


</section>

<div class="travel__footer">
  <interkk-footer></interkk-footer>
</div>
