<footer>
  <div class="first-row">
    <div class="location-handle">
      <h2>PHYSICAL ADDRESS</h2>
      <pre>INTREKK Sarl</pre>
      <pre>2nd Floor, AZICCUL Building</pre>
      <pre>Feu Rouge BESSENGUE roundabout</pre>
      <pre>Boulevard de la R&#233;unification (RUE 1.464)</pre>
      <pre>Douala I (Deido), Douala, Littoral Region</pre>
      <pre>Republic of Cameroom</pre>
    </div>
    <div class="location-handle">
      <h2>MAILING ADDRESS</h2>
      <pre>B.P. 12662 Bonanjo, Douala</pre>
      <pre>Republic of Cameroon</pre>
    </div>
    <div class="social-handles">
      <h2>Connecting with us</h2>
      <nav>
        <ul>
          <li><a href="">Customer service</a></li>
          <li><a href="">FAQ</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">
              <i class="fab fa-linkedin fa-lg" aria-hidden="true"></i>
            </a></li>
          <li><a href="">
              <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
            </a></li>
          <li><a href="">
              <i class="fab fa-facebook fa-lg"></i>
            </a></li>
          <li><a href="">
              <i class="fab fa-youtube fa-lg"></i>
            </a></li>
          <li><a href=""><i class="fab fa-instagram fa-lg"></i></a></li>
        </ul>
      </nav>
      <pre>Office: +237 683-328-227 </pre>
      <pre>E-mail: office@intrekk.com</pre>
    </div>

  </div>
  <div class="legal-handles">
    <span>© 2023 Interkk Sarl</span>
    <nav>
      <ul>
        <li><a href="">Terms and Conditions </a></li>
        <li><a href="">Privacy Policy</a> </li>
        <li><a href="">Cookies</a></li>
      </ul>
    </nav>
  </div>

</footer>
