
footer{
  background: #000080;
  padding: 1rem;
}

.interrk--footer{
  padding: 2.25em 1.5rem 1.5em;
}

li i{
  color: #B92F06;
}

footer nav ul li{
list-style: none;
a{
  color: #FFFFFF;
  text-decoration: none;
}
}

h2{
  font-size: 1rem;
}
span,h2{
  color: #FFFFFF;
}

.social-handles{
  padding-bottom: 1rem;
  ul{
    display: flex;
    padding: 1rem 0;
  }
  li{
    margin-right: 1rem;
    a{
      font-size: 0.75rem;
    }
  }
}

pre{
  color:#FFFFFF;
  font-size: 0.75rem;
}

.legal-handles{
  padding-top: 1rem;
  border-top: 2px solid gray;
  nav{
    padding-right: 10rem;
  }
  ul{
    display: flex;
    padding: 1rem 0;
  }
  li{
    margin-right: 0.5rem;
  }
}

.location-handle{
  color: #FFFFFF;
  padding-bottom: 1rem;
}


@media screen and (min-width: 830px) {
  footer{
    padding: 0;
  }
  .first-row{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    padding: 1em 0 1em 10rem;
    .social-handles,.location-handle{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  .legal-handles{
    font-size: 0.75rem;
    padding-left: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .social-handles{
    ul{
      padding: 0;
    }
    li{
      margin-right: 0.5rem;
    }
  }

}
