<footer>
  <div class="first-row">
    <div class="waygate_footer__col--first"><a><img height="100" src="../../../assets/images/logo_footer.png"></a></div>
    <div class="social-handles">
      <h2>Connecting with us</h2>
      <nav>
        <ul>
          <li><a href="">Customer service</a></li>
          <li><a href="">FAQ</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a></li>
          <li><a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a></li>
          <li><a href="">
              <i class="fa fa-facebook"></i>
            </a></li>
          <li><a href="">
              <i class="fa fa-youtube"></i>
            </a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
        </ul>
      </nav>
    </div>
    <div class="location-handle">
      <h2>Location</h2>
      <pre>B.P. 12662 Bonanjo</pre>
      <pre>Douala,Cameroon</pre>
      <pre>Office: +237 683-328-227 </pre>
      <pre>E-mail: office@intrekk.com</pre>
    </div>
  </div>
  <div class="legal-handles">
    <span>© 2023 Interkk Sarl</span>
    <nav>
      <ul>
        <li><a href="">Terms and Conditions </a></li>
        <li><a href="">Privacy Policy</a> </li>
        <li><a href="">Cookies</a></li>
      </ul>
    </nav>
  </div>

</footer>
