<!-- <div>
  <header>
    <div>
      <img alt="intrekksarl_logo" class="logo" src="./assets/images/logo.svg">
      <span class="appName">InTrekk Sarl</span>
    </div>
    <nav>
      <div class="nav-container">
        <ul>
          <li>
            <span>Contact Us</span>
          </li>
          <li><a href="">
              <i class="fa fa-linkedin padding05em fa-lg" aria-hidden="true"></i>
              <i class="fa fa-youtube padding05em fa-lg" aria-hidden="true"></i>
              <i class="fa fa-instagram padding05em fa-lg" aria-hidden="true"></i>
            </a></li>
          <div style="display: flex;">
            <li>
              <a href="">
                <div>
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <span>&nbsp;&nbsp;+237 683-328-227</span>
                </div>
                <div>
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span>&nbsp;&nbsp;office@intrekk.com</span>
                </div>
              </a>
            </li>
          </div>

        </ul>
      </div>
    </nav>
  </header>
  <section class="banner-area">

  </section>
  <footer></footer>
</div> -->


<header>
  <!-- <h1 class="logo"> -->
  <img alt="intrekksarl_logo" class="logo" src="./assets/images/logo.svg">
  <!-- </h1> -->
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav>
    <ul>
      <li><a href="#">Contact us</a></li>
      <li>
        <i class="fa fa-linkedin padding05em fa-lg" aria-hidden="true"></i>
        <i class="fa fa-youtube padding05em fa-lg" aria-hidden="true"></i>
        <i class="fa fa-instagram padding05em fa-lg" aria-hidden="true"></i>
      </li>
      <li>
        <div>
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span>&nbsp;&nbsp;+237 683-328-227</span>
        </div>
        <div>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span>&nbsp;&nbsp;office@intrekk.com</span>
        </div>
      </li>
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>




<section class="content">

<div>

  <h1>doing it different</h1>
  <h2>
    <Pre>Interkk Sarl</Pre> is a leading provider of a wide range of services, including international airtime top-up
    services, travel agency,
    domestic mobile money transfer services, data science, artificial intelligence services and data intelligence
    fusion. Our group of companies offers a comprehensive set of solutions that help organizations and individuals stay
    connected, manage their finances, travel, and make better data-driven decisions.
  </h2>
</div>
</section>

<section>

  <div class="card-container">
    <div class="card">
      <div class="box">
        <div class="card-content">

          <h3>InTrekk International Airtime Top-up Services</h3>
          <p>We offer a convenient and reliable way for customers to instantly add credit to their prepaid mobile
            phones, no matter where they are in the world</p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="card-content">

          <h3>InTrekk Travel Agency</h3>
          <p>We offer a wide range of travel options, including economy, business, and first-class tickets, as well as
            the ability to book multi-city and round-trip flights. In addition, we also offer hotel and car rental
            reservations, travel insurance, and vacation packages</p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box" style=" background-image: url(../../../assets/images/moneytransfer.png);">
        <div class="card-content">

          <h3>Domestic Mobile Money Transfer Service</h3>
          <p>We offer a fast, convenient and secure way for customers to add credit to their mobile money accounts,
            wherever they are in the world</p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box" style=" background-image: url(../../../assets/images/datascience.jpg);">
        <div class="card-content">

          <h3>InTrekk Data Science Consulting Services</h3>
          <p>We provide a wide range of solutions such as predictive modeling, natural language processing, computer
            vision, and deep learning. We also have expertise in big data technologies such as Hadoop and Spark, and can
            help organizations manage, process and analyze large datasets</p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="card-content">

          <h3>Momo Cash Collection Services</h3>
          <p>We specialize in providing businesses and organizations with a fast, convenient, and secure way to collect
            payments from their customers via mobile money.
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="card-content">

          <h3>InTrekk Intelligence Data Services</h3>
          <p>Our services include natural language processing, computer vision, and deep learning for intelligence
            production. We provide a wide range of solutions such as sentiment analysis, entity recognition, image
            classification, and object detection</p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<footer style="height: 200px; display: flex; justify-content: center;align-items: center;">
  Footer would appear here
</footer>
