<interkk-header></interkk-header>
<section class="content">
  <h2>
    <Pre>Interkk Sarl</Pre> is a limited liability company that offers a wide range of innovative services to
    help organizations and individuals stay connected, manage their finances, travel, and make better data-driven
    decisions. Our services include INTREKK Innovative Mobility Data Service, international airtime top-up services,
    travel agency, and data science consulting, and artificial intelligence services.
  </h2>

</section>

<section class="accouncement">
  <div>
   SAVE THE DATE: The Energy Intelligence Forum Returns to London,
   <Pre>October 17-19,2023</Pre>
  </div>
  <!-- <a href="">click here</a> -->

</section>
<interkk-idle-popup (popupClosed)="closePopup()" *ngIf="userisIdle"></interkk-idle-popup>
<section>

  <div class="card-container">
    <div class="card">
      <div class="box">
        <div class="card-content">
          <img src="../../../assets/images/travel.png" alt="">
          <h3>INTERNATIONAL AIRTIME TOP-UP SERVICES</h3>
          <p>InTrekk's international airtime top-up services make it easy for individuals and organizations to stay connected with their loved ones and clients around the world</p>
          <a href="">Read More</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="card-content">
          <img src="../../../assets/images/datascience.jpg" alt="">
          <h3>TRAVEL AGENCY</h3>
          <p>InTrekk's travel agency offers comprehensive travel services, including air travel, hotel bookings, and car rental services</p>
          <a target="_blank" routerLink="/intrekksa/travelAgency">Read More</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="card-content">

          <h3>DATA SCIENCE CONSULTING</h3>
          <p>InTrekk's data science consulting services are designed to help organizations make the most of their data</p>
          <a target="_blank" routerLink="/dataScience">Read More</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="card-content">

          <h3>ARTIFICIAL INTELLIGENCE SERVICES</h3>
          <p>InTrekk's artificial intelligence services are designed to help organizations leverage the power of AI to improve their operations and decision-making processes</p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="card-content">
          <h3>MOMO CASH COLLECTION SERVICE</h3>
          <p>We specialize in providing businesses and organizations with a fast, convenient, and secure way to collect
            payments from their customers via mobile money.
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="card-content">

          <h3>INTREKK INNOVATIVE MOBILITY DATA SERVICE</h3>
          <p>InTrekk's innovative mobility data service is designed to help organizations make informed decisions about their mobility needs</p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<interkk-footer></interkk-footer>



