<interkk-header></interkk-header>
<section class="cash_collection">

  <video autoplay muted loop id="myVideo">
    <source src="./assets/images/topup/topup.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>

  <div class="text-animate">
    <span typingAnimation [typeSpeed]="50" [condition]="start" [startDelay]="2000">
      Intrekk also specializes in providing international airtime
      and data top up services to its clients. Company offers a convenient and efficient way for individuals and
      businesses to recharge their mobile phones with airtime credit and data while traveling abroad
    </span>
  </div>
</section>

<section class="aboutUs">
  <h2>Who we are</h2>
  <div>
    <span>Intrekk also specializes in providing international airtime and data top up services to its clients. The
      company offers a convenient and efficient way for individuals and businesses to recharge their mobile phones with
      airtime credit and data while traveling abroad.</span>
    <span style="display: block; margin-top: 1.25rem;">
      Intrekk's International Airtime Top Up Services is a valuable solution for individuals and businesses who need to
      recharge their mobile phones while traveling abroad. The company's services are convenient, cost-effective, and
      provide a reliable and secure way for clients to stay connected while abroad.</span>
  </div>

</section>

<section>
  <div class="core_service--section">
    <div class="core_service--banner">
      <img src="./assets/images/topup/topup_banner.jpg" class="banner-image" alt="">
    </div>
    <div class="core_service--cards">
      <h2>Our core services</h2>
      <div class="serivce">
        <div>
          <img src="./assets/images/topup/topup.svg" alt="">
        </div>
        <div>
          <h3>Mobile Recharge</h3>
          <span>Intrekk's International Airtime Top Up Services allows clients to recharge their mobile phones with
            airtime credit from more than 150 countries around the world. Clients can recharge their own phones or those
            of their friends and family members.</span>
        </div>
      </div>
      <div class="serivce">
        <div>
          <img src="./assets/images/topup/phonerecharge.svg" alt="">
        </div>
        <div>
          <h3>Online Recharge Platform</h3>
          <span>The company provides a user-friendly online platform where clients can recharge their mobile phones
            anytime, anywhere. The platform is secure and easy to use, and clients can make their payments using a
            credit card, debit card, or other payment methods.</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="benefits">
  <div class="benefits__flex">
    <div>
      <img src="./assets/images/benefits.svg" alt="">
    </div>
    <div style="padding-left: 2rem;">
      <h2>Who Can Benefit From Cash Management Solutions?</h2>
      <div>
        <h3>Individual travelers</h3>
        <p>Intrekk's International Airtime Top Up Services is designed for individuals who travel frequently for
          business or pleasure. The service is especially useful for those who need to stay connected with family,
          friends, or colleagues while abroad.</p>
      </div>
      <div>
        <h3>Businesses</h3>
        <p>The service is also suitable for businesses that have employees traveling abroad. The company's airtime top
          up services allow businesses to provide their employees with the necessary communication tools to stay
          connected and productive while abroad.</p>
      </div>
      <div>
        <h3>Expatriates</h3>
        <p>Intrekk's International Airtime Top Up Services is also designed for expatriates who live and work abroad and
          need to recharge their mobile phones with airtime credit.</p>
      </div>
    </div>
  </div>


</section>

<div class="travel__footer">
  <interkk-footer></interkk-footer>
</div>
