<interkk-header></interkk-header>
<section class="cash_collection">

  <video autoplay muted loop id="myVideo">
    <source src="./assets/images/mobility/mobility.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>

  <div class="text-animate">
    <span typingAnimation [typeSpeed]="50" [condition]="start" [startDelay]="2000">
      Intrekk’s Innovative Mobility Data Service (I2MDS) is a cutting-edge intel-led data fusion service offered by
      Intrekk Sarl.
    </span>
  </div>
</section>

<section class="aboutUs">
  <h2>Who we are</h2>
  <div>
    <span>Intrekk’s Innovative Mobility Data Service (I2MDS) is a cutting-edge intel-led data fusion service offered by
      Intrekk Sarl. It is designed to provide organizations with the tools and expertise they need to produce
      high-quality intelligence products that meet their specific needs.</span>
    <span style="display: block; margin-top: 1.25rem;">Intrekk’s Innovative Mobility Data Service (I2MDS) are designed
      to provide organizations with the tools and expertise they need to produce high-quality intelligence products that
      meet their specific needs. The company's services are flexible, cost-effective, and can provide organizations with
      the tools and expertise they need to succeed in today's rapidly changing business landscape.</span>
  </div>

</section>

<section>
  <div class="core_service--section">
    <div class="core_service--banner">
      <img src="./assets/images/mobility/banner.jpg" class="banner-image" alt="">
    </div>
    <div class="core_service--cards">
      <h2>Our core services</h2>
      <div class="serivce">
        <div>
          <img src="./assets/images/mobility/analysis.svg" alt="">
        </div>
        <div>
          <h3>Intelligence Analysis</h3>
          <span>Intrekk’s Innovative Mobility Data Service (I2MDS) can help organizations conduct in-depth analysis of
            data and information, providing actionable intelligence that can be used to inform decision-making. The
            company's intelligence analysts are trained to identify patterns, trends, and relationships in large amounts
            of data, and to use this information to create intelligence products that are tailored to meet the specific
            needs of each client.</span>
        </div>
      </div>
      <div class="serivce">
        <div>
          <img src="./assets/images/mobility/reporting.svg" alt="">
        </div>
        <div>
          <h3>Intelligence Reporting</h3>
          <span>Intrekk’s Innovative Mobility Data Service (I2MDS) can help organizations produce high-quality
            intelligence reports that provide a comprehensive overview of current threats, trends, and opportunities.
            The company's intelligence analysts are experienced in writing clear and concise reports that can be easily
            understood by stakeholders, and that provide actionable intelligence that can be used to inform
            decision-making.</span>
        </div>
      </div>
      <div class="serivce">
        <div>
          <img src="./assets/images/mobility/briefing.svg" alt="">
        </div>
        <div>
          <h3>Intelligence Briefings</h3>
          <span>Intrekk’s Innovative Mobility Data Service (I2MDS) can help organizations produce intelligence briefings
            that provide targeted, concise, and relevant intelligence to stakeholders. The company's intelligence
            analysts are experienced in creating briefings that are easy to understand, and that provide stakeholders
            with the information they need to make informed decisions.</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="benefits">
  <div class="benefits__flex">
    <div>
      <img src="./assets/images/benefits.svg" alt="">
    </div>
    <div style="padding-left: 2rem;">
      <h2>Who Can Benefit From Mobility Data Service?</h2>
      <div>
        <h3>Government Agencies</h3>
        <p>
          Intrekk’s Innovative Mobility Data Service (I2MDS) are designed for government agencies that need to produce
          high-quality intelligence products that meet their specific needs. The company's services can help government
          agencies conduct in-depth analysis, produce intelligence reports, and create intelligence briefings that
          provide the information they need to make informed decisions.
        </p>
      </div>
      <div>
        <h3>Private Sector Organizations</h3>
        <p>Intrekk’s Innovative Mobility Data Service (I2MDS) are also suitable for private sector organizations that
          need to produce intelligence products that meet their specific needs. The company's services can help
          organizations in a wide range of industries, including finance, healthcare, retail, and more, produce
          high-quality intelligence products that can be used to inform decision-making.</p>
      </div>

    </div>
  </div>
</section>

<section class="benefits__list">
  <div class="benefits__flex">
    <div>
      <img src="./assets/images/benefits_graphic.svg" alt="">
    </div>
    <div style="padding-left: 2rem;">
      <h2>Benefit's You Get</h2>
      <div>
        <h3>High-Quality Intelligence Products</h3>
        <p>Intrekk’s Innovative Mobility Data Service (I2MDS) can help organizations produce high-quality intelligence
          products that meet their specific needs. The company's services are designed to provide organizations with the
          tools and expertise they need to produce intelligence products that are tailored to meet their unique
          requirements.</p>
      </div>
      <div>
        <h3>Actionable Intelligence</h3>
        <p>Intrekk’s Innovative Mobility Data Service (I2MDS) can help organizations produce intelligence products that
          provide actionable intelligence that can be used to inform decision-making. The company's services can help
          organizations conduct in-depth analysis, produce reports, and create briefings that provide stakeholders with
          the information they need to make informed decisions.</p>
      </div>
      <div>
        <h3>Expertise and Experience</h3>
        <p>Intrekk’s Innovative Mobility Data Service (I2MDS) are backed by a team of experts with extensive experience
          in the intelligence field. The company's intelligence analysts are trained to provide organizations with the
          tools and expertise they need to produce high-quality intelligence products that meet their specific needs.
        </p>
      </div>
      <div>
        <h3>Cost-Effective Solutions</h3>
        <p>Intrekk’s Innovative Mobility Data Service (I2MDS) offer cost-effective solutions for organizations that need
          to produce intelligence products. The company's services are flexible and customizable, allowing organizations
          to choose the services that best meet their needs, and to budget for these services accordingly.</p>
      </div>
    </div>
  </div>
</section>

<div class="travel__footer">
  <interkk-footer></interkk-footer>
</div>
