<interkk-header></interkk-header>
<section class="cash_collection">

  <video autoplay muted loop id="myVideo">
    <source src="./assets/images/datascience/datascience.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>

  <div class="text-animate">
    <span typingAnimation [typeSpeed]="50" [condition]="start" [startDelay]="2000">
      <pre>Intrekk's Data Science Consulting Services</pre> is a subsidiary of Intrekk Sarl that specializes
      in providing data science consulting services to organizations across various industries.
    </span>
  </div>
</section>

<section class="aboutUs">
  <h2>Who we are</h2>
  <div>
    <span>Intrekk's Data Science Consulting Services is a subsidiary of Intrekk Sarl that specializes in providing data
      science consulting services to organizations across various industries. The company offers a range of services
      that help organizations harness the power of data to drive business growth and innovation.</span>
    <span style="display: block; margin-top: 1.25rem;">Intrekk's Data Science Consulting Services is a valuable solution
      for organizations that need to harness the power of data to drive business growth and innovation. The company's
      services are cost-effective, flexible, and can provide organizations with the tools and expertise they need to
      succeed in today's rapidly changing business environment.</span>
  </div>

</section>

<section>
  <div class="core_service--section">
    <div class="core_service--banner">
      <img src="./assets/images/datascience/datascience.jpg" class="banner-image" alt="">
    </div>
    <div class="core_service--cards">
      <h2>Our core services</h2>
      <div class="serivce">
        <div>
          <img src="./assets/images/datascience/data_analysis.svg" alt="">
        </div>
        <div>
          <h3>Data Analysis and Visualization</h3>
          <span>Intrekk's Data Science Consulting Services provides data analysis and visualization services to help
            organizations understand and interpret their data. The company's experts can help organizations identify
            patterns and trends in their data, and present the information in a clear and concise manner.</span>
        </div>
      </div>
      <div class="serivce">
        <div>
          <img src="./assets/images/datascience/predictive_modeling.svg" alt="">
        </div>
        <div>
          <h3>Predictive Modeling</h3>
          <span>The company offers predictive modeling services to help organizations forecast future trends and
            outcomes based on historical data. Predictive modeling can be used to inform business decisions and guide
            resource allocation, helping organizations make informed decisions.</span>
        </div>
      </div>
      <div class="serivce">
        <div>
          <img src="./assets/images/datascience/business_intellignece.svg" alt="">
        </div>
        <div>
          <h3>Business Intelligence</h3>
          <span>Intrekk's Data Science Consulting Services provides business intelligence services to help organizations
            make informed decisions based on data. The company's experts can help organizations develop and implement
            data-driven business strategies, improving efficiency and competitiveness.</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="benefits">
  <div class="benefits__flex">
    <div>
      <img src="./assets/images/benefits.svg" alt="">
    </div>
    <div style="padding-left: 2rem;">
      <h2>Who Can Benefit From Cash Management Solutions?</h2>
      <div>
        <h3>Small and Medium-Sized Enterprises (SMEs)</h3>
        <p>Intrekk's Data Science Consulting Services is designed for small and medium-sized enterprises that need to
          leverage data to drive business growth and innovation. The company's services are cost-effective and can help
          SMEs stay competitive in today's rapidly changing business environment.</p>
      </div>
      <div>
        <h3>Large Enterprises</h3>
        <p>The company's services are also suitable for large enterprises that need to harness the power of data to
          drive business growth and innovation. The company's experts can help large enterprises identify new
          opportunities, streamline business processes, and improve decision-making.</p>
      </div>
      <div>
        <h3>Non-Profit Organizations</h3>
        <p>Intrekk's Data Science Consulting Services can also be of value to non-profit organizations that need to make
          informed decisions based on data. The company's services can help non-profit organizations better understand
          their data and make informed decisions that have a positive impact on their stakeholders.</p>
      </div>
    </div>
  </div>


</section>

<div class="travel__footer">
  <interkk-footer></interkk-footer>
</div>
